* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #27282b;
    overflow-x: hidden;
}

.hero-section {
    position: relative;
    width: 86%;
    height: 700px;
    margin-top: 60px;
    background: #E0EAFC;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    display: flex;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    margin-bottom: 100px;
    width: 100%;

}

.welcome-message {
    width: 40%;
    margin: 30px;
    font-family: 'Genos', sans-serif;
    font-size: 30px;
    margin-top: 140px;
    margin-left: 80px;
    transition: 0.6s ease-in-out;
}

.android,
.iphone,
.windows.github.kevinimage,
.welcome-message {
    transform: translateZ(40px);
}

.hero-section .kevinimage {
    margin-top: -50px;
    transform: scale(.5);
    position: absolute;
    right: -56px;
}

.hero-section .android {
    transform: scale(.5);
    position: absolute;
    left: 46%;
    bottom: -189px;
}

.hero-section .windows {
    transform: scale(.2);
    position: absolute;
    left: -80px;
    top: -60px;
}

.hero-section .vscode {
    transform: scale(.15);
    position: absolute;
    left: -137px;
    bottom: -120px;
}

.hero-section .github {
    transform: scale(.16);
    position: absolute;
    right: -130px;
    top: -120px;
}

.hero-section .iphone {
    transform: scale(.1);
    position: absolute;
    right: -190px;
    bottom: -214px;
}

.soen {
    transform: scale(.6);
    position: absolute;
    left: 0px;
    top: 50px;
}

#back-to-top {
    transform: scale(3);
    position: absolute;
    right: 60px;
    bottom: 60px;
    color: #E0EAFC;
}

.canvanav {
    transform: scale(.7);
    margin-left: 130px;
}

nav {
    position: relatve;
}

ul {
    position: absolute;
    display: flex;
    left: 29%;
    top: 40px;
}

ul li {
    list-style: none;
    width: 20px;
    color: #CB6CE6;
    transform: scale(2);
    margin: 10px;
    margin-right: 100px;
    width: auto;
}

ul li a {
    color: #CB6CE6;
}

#aboutme-icon::after {
    content: 'About Me';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}

#designsamples-icon::after {
    content: 'Design Work';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}

#pricing-icon::after {
    content: 'Pricing';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}

#contacts-icon::after {
    content: 'Contact Me';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}

#resources::after {
    content: 'Resources';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}

.windows:hover,
.github:hover,
.vscode:hover,
.iphone:hover {
    cursor: pointer;
}

.windows-facts,.windows-facts2 {
    width: 280px;
    height: 130px;
    background-color: #CB6CE6;
    position: absolute;
    top: 10px;
    left: 90px;
    border-radius: 10px;
    padding: 20px;
    display: none;
    color: aliceblue;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
}
.windows-facts2{
  width: 280px;
  height: auto;
  background-color: #CB6CE6;
  position: absolute;
  top: 10px;
  left: 90px;
  border-radius: 10px;
  padding: 20px;
  display: none;
  color: aliceblue;
  font-family: 'Genos', sans-serif;
  font-size: 20px;
}

.vscode-facts {
    width: 280px;
    height: 130px;
    background-color: #CB6CE6;
    position: absolute;
    bottom: 10px;
    left: 90px;
    border-radius: 10px;
    display: none;
    color: aliceblue;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    padding: 20px;
}

.github-facts {
    width: 280px;
    height: 80px;
    background-color: #3C6BCA;
    position: absolute;
    top: 10px;
    right: 90px;
    border-radius: 10px;
    display: none;
    color: aliceblue;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
}

.apple-facts {
    width: 280px;
    height: 140px;
    background-color: #CB6CE6;
    position: absolute;
    bottom: -70px;
    right: 90px;
    border-radius: 10px;
    display: none;
    color: aliceblue;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    padding: 20px;
}

.title-image {
    transform: scale(.6);
}

#aboutme {
  width: auto;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;
    height: 450px;
    background-color: #D9E5F8;
    margin-right: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    padding: 3px;
    transform-style: preserve-3d;
    transform: perspective(300px);
    z-index: 1;
}
.card.tilted{
    transform-style: flat;
}

.card-title {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #CB6CE6;
    font-weight: bold;

}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    border-radius: 5px;
    margin-top: 10px;
    width: 85%;
    height: 380px;
    color: white;
    background-color: #171418;
    transform: translateZ(60px);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3), 0px 5px 20px #CB6CE6;
    ;

}

.content p {
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 28px;
}

.content ul {
    position: relative;
}

.content ul li {
    margin-left: -18px;
    margin-right: 84px;
    margin-top: -30px;
    color: #CB6CE6;
}

.content i {
    font-size: 18px;
    position: relative;
    color: #CB6CE6;
}

#laptop-page1::after {
    content: '1';
    font-size: 8px;
    position: absolute;
    margin-left: -13px;
    margin-top: 5px;
}

#laptop-page2::after {
    content: '2';
    font-size: 8px;
    position: absolute;
    margin-left: -13px;
    margin-top: 5px;
}

#laptop-page3::after {
    content: '3';
    font-size: 8px;
    position: absolute;
    margin-left: -13px;
    margin-top: 5px;
}

#laptop-page1,
#laptop-page2,
#laptop-page3:hover {
    cursor: pointer;
}

.skills-page2,
.skills-page3 {
    display: none;
}

#planguages {
    font-size: 19px;
}

#language-icons img {
    width: 40px;
}

.education-card {
    background: url(images/degree2.png);
    background-position: center;
    background-size: cover;
    filter: blur(px);
    font-size: 30px;
    text-align: center;
    padding: 7px;
    color: #CB6CE6;
    font-weight: bold;
    position: relative;
}

.education-card i {
    color: #CB6CE6;
}

#progress-text {
    color: #CB6CE6;
    margin-top: 10px;
}

#badge {
    position: absolute;
    bottom: -80px;
    transform: scale(.36);
    margin-left: -80px;
}

#badge:hover {
    cursor: pointer;
}

.php-cert,.web-fundamentals-cert, .sql-cert,.html-cert {
    width: 500px;
    height: 400px;
    position: absolute;
    margin-top: -300px;
    z-index: 100;
    margin-left: -200px;
    animation: certsopening 0.7s ease-in-out;
}

#cancel-icon {
    position: absolute;
    font-size: 35px;
    right: 4px;
    top: 0;
}

#cancel-icon:hover {
    cursor: pointer;

}

.php-cert {
    display: none;
    background: url(images/php-cert.png);
    background-position: center;
    background-size: cover;
}

.web-fundamentals-cert{
    display: none;
    background: url(images/webfunda.png);
    background-position: center;
    background-size: cover;
}
.sql-cert{
    display: none;
    background: url(images/sql.png);
    background-position: center;
    background-size: cover;
}
.html-cert{
    display: none;
    background: url(images/html.png);
    background-position: center;
    background-size: cover;
}

.pagenumber {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    margin-bottom: 8px;
}

.rectangle {
    width: 14px;
    height: 14px;
    outline: green solid 1px;
    margin-right: 20px;
}

.rectangle:hover {
    cursor: pointer;
}

@keyframes certsopening {
    from{
        width: 150px;
    }
    to{
        width: 500px;
    }
}

@keyframes certsclosing {
    from{
        width:500px;
    }
    to{
        width: 0px;
    }
}

.hobbies-card1{
    background: url(images/mac-book.jpg);
    background-position: center;
    background-size: cover;
    padding: 15px;
    font-size: 30px;
}
.design-work-title{

}

/*slider css*/
.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-top: 50px;
  }
  
  .slider-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 500px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
   
    margin-bottom: 80px;
    margin-left: 100px;
  }
  .slider-image img{
    max-width: 100%;
    max-height: 100%;
  }
.slider-image img:hover{
    cursor: pointer;
}
  
  .slider-image.active {
    opacity: 1;
  }
  
  .thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: -190px;
  }
  
  .thumbnail {
    margin: 0 5px;
    cursor: pointer;
  }
  
  .thumbnail img {
    width: 100px;
    height: auto;
  }
  
  .thumbnail.active img {
    border: 4px solid #CB6CE6;
  }
/*SLIDING CSS2*/
.sliding-web-projects2{
    margin-left: 10%;
    margin-top: 40px;
    position: relative;
}
#web-cards{
  display: flex;
  flex-wrap: nowrap;
  height: auto;
}
.slider2 {
    position: relative;
    width: 100%;
    height: 700px;
    overflow: hidden;
  }
  
  .slider-image2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 700px;
    opacity: 0;
    transition: opacity 0.9s ease-in-out;
   
    margin-left: 100px;
  }
  .slider-image2 img{
    max-width: 100%;
    max-height: 100%;
  }
  
  .slider-image2.active {
    opacity: 1;
  }
  
  .thumbnail-container2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    flex-direction: column;
    margin-top: -570px;
    margin-left: -90px;
  }
  
  .thumbnail2 {
    margin: 0 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .thumbnail2 img {
    width: 100px;
    height: auto;
  }
  
  .thumbnail2.active img {
    border: 4px solid #CB6CE6;
  }

 #web-dev-section-pic{
    width: 270px;
 }
 #graphic-d-section-pic{
    width: 270px;
 }
 .design-title{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
 }
 .curious-title{
  margin-top: -50px;
 }
 .sliding-web-projects{
    display: flexf;
    flex-direction: column;
 }

 /*PROJECT LIST*/
 #project-section{
    display: flex;
    flex-direction: row;
 }

 .project-list-card {
    width: 390px;
    height: 354px;
    transition: all 0.2s;
    position: absolute;
    cursor: pointer;
    right: 150px;
    margin-top: -500px;
  }
  
  .project-list-card-inner {
    padding: 8px;
    width: inherit;
    height: inherit;
    background: rgba(255,255,255,.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .project-list-card-inner p{
    color:white;
    font-family: 'Genos', sans-serif;
    text-align: center;
    font-size: 23px;
  }
  .project-list-card-inner li {
    font-size: 27px;
    color:white;
    font-family: 'Genos', sans-serif;
    text-align: left;
  }
  
  .project-list-card:hover {
    transform: scale(1.04) rotate(1deg);
  }
  
  .circle {
    width: 100px;
    height: 100px;
    background: radial-gradient(#CB6CE6, #CFDEF3);
    border-radius: 50%;
    position: absolute;
    animation: move-up6 2s ease-in infinite alternate-reverse;
  }
  
  .circle:nth-child(1) {
    top: -25px;
    left: -25px;
  }
  
  .circle:nth-child(2) {
    bottom: -25px;
    right: -25px;
    animation-name: move-down1;
  }
  
  @keyframes move-up6 {
    to {
      transform: translateY(-10px);
    }
  }
  
  @keyframes move-down1 {
    to {
      transform: translateY(10px);
    }
  }
  /*WEBSITES MORE INFO DIVS*/
  .terminal-container,.portfolio-terminal,.ecommerce-terminal,
  .booking-terminal, .learning-terminal,.realestate-terminal, .travel-terminal {
    width: 450px;
    height: auto;
    position: absolute;
    right: 100px;
    display: none;
    padding: 10px;
  }
.cancel-icon{
    font-size: 35px;
    position: absolute;
    right: -30px;
    color: white;
}
.cancel-icon:hover{
    color: red;
    cursor: pointer;
}

  .project-title2{
    color: white;
  }
  .project-info{
    color: #1eff8e;
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .terminal_toolbar {
    display: flex;
    height: 30px;
    align-items: center;
    padding: 0 8px;
    box-sizing: border-box;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #212121;
    justify-content: space-between;
  }
  
  .butt {
    display: flex;
    align-items: center;
  }
  
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-right: 5px;
    font-size: 8px;
    height: 12px;
    width: 12px;
    box-sizing: border-box;
    border: none;
    border-radius: 100%;
    background: linear-gradient(#7d7871 0%, #595953 100%);
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
  }
  
  .btn-color {
    background: #ee411a;
  }
  
  .btn:hover {
    cursor: pointer;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .butt--exit {
    background: linear-gradient(#f37458 0%, #de4c12 100%);
  }
  
  .add_tab {
    border: 1px solid #fff;
    color: #fff;
    padding: 0 6px;
    border-radius: 4px 4px 0 0;
    border-bottom: none;
    cursor: pointer;
  }
  
  .user {
    color: #d5d0ce;
    margin-left: 6px;
    font-size: 14px;
    line-height: 15px;
  }
  
  .terminal_body {
    background: rgba(0, 0, 0, 0.6);
    height: calc(100% - 30px);
    padding-top: 2px;
    margin-top: -1px;
    font-size: 12px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  .terminal_promt {
    display: flex;
  }
  
  .terminal_promt span {
    margin-left: 4px;
  }
  
  .terminal_user {
    color: #1eff8e;
    font-size: 20px;
  }
  
  .terminal_location {
    color: #4878c0;
    font-size: 20px;
  }
  
  .terminal_bling {
    color: #dddddd;
    font-size: 20px;
  }
  
  .terminal_cursor {
    display: block;
    font-size: 25px;
    height: 20px;
    width: 5px;
    margin-left: 10px;
    animation: curbl 1200ms linear infinite;
  }
  
  @keyframes curbl {
  
    0% {
      background: #ffffff;
    }
  
    49% {
      background: #ffffff;
    }
  
    60% {
      background: transparent;
    }
  
    99% {
      background: transparent;
    }
  
    100% {
      background: #ffffff;
    }
  }
  
  /*curious minds central*/
  .curious-minds-central{
    transform: scale(.6);
    margin-left: 40px;
    margin-bottom: 30px;
  }

  .book {
    position: relative;
    border-radius: 10px;
    width: 30%;
    height: 400px;
    margin-right: 20px;
    background-color: whitesmoke;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #ffffff;
    -webkit-transform: preserve-3d;
    -ms-transform: preserve-3d;
    transform: preserve-3d;
    -webkit-perspective: 2000px;
    perspective: 2000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #000;
  }
  
  .cover {
    top: 0;
    position: absolute;
    background-color: lightgray;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
    transform-origin: 0;
    -webkit-box-shadow: 1px 1px 12px #000;
    box-shadow: 1px 1px 12px #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    
  }
  
  .book:hover .cover {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transform: rotatey(-90deg);
    -ms-transform: rotatey(-90deg);
    transform: rotatey(-80deg);
  }
  
  #outer-content{
    font-size: 27px;
    font-weight: bolder;
    font-family: 'Genos', sans-serif;
    color: white;

  }
  #learning-explanation{
    font-family: 'Genos', sans-serif;
    font-size: 28px;
    margin-left: 220px;
    color: white;
  }
  .books-section{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .book1{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('images/javascriptlogo2.jpg');
    background-position: center;
    background-size: cover;
  }
  .book2{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/elon-musk.png');
    background-position: center;
    background-size: cover;
  }
  .book3{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('images/blogsection-background.jpg');
    background-position: center;
    background-size: cover;
  }
  footer{
    height: 250px;
    width: 100%;
    background: rgb(56,54,55);
    background: linear-gradient(90deg, rgba(56,54,55,1) 
      0%, rgba(56,54,55,1) 35%, rgba(123,53,63,1) 100%);
    margin-top: 30px;
    display: flex;
    align-items: center;
  }

  #cv{
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    background-color: #fffcfc;
    padding: 8px;
    border-radius: 10px;
    font-family: 'Genos', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 50px;
  }
  #cv-icon{
    margin-left: 26px;
  }
  form{
    display: flex;
    font-family: 'Genos', sans-serif;
    font-size: 26px;
    color: white;
    margin-left: 290px;
  }
  form input{
    width: 80%;
    padding: 6px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin: 7px;
  }
  form textarea{
    border-radius: 6px;
    margin: 7px;
    outline: none;
    padding: 6px;
    text-align: centerfgxf;
  }
  .inputs{
    display: flex;
    flex-direction: column;
  }
  #send{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-family: 'Genos', sans-serif;
    font-size: 22px;
    margin-top: 9px;
    font-weight: bold;
  }
  #madeby{
    margin-left: 100px;
    font-family: 'Genos', sans-serif;
    font-size: 26px;
    color: white;
  }
  #madeby i{
    color: red;
    animation: love 0.6s ease-in-out infinite alternate;
  }
  @keyframes love {
    0%{
      transform: scale(.5);
    }
    100%{
      transform: scale(.8);
    }
  }

  .design-main-title{
    margin-top: 90px;
  }
  .web-dev-title{
    margin-top: 0px;
  }
  .about-me-main{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  /*Media queries*/
 
 @media screen and (max-width: 1360px) {
  .canvanav{
    margin-left: -50px;
  }
  ul{
    left: 17%;
    transform: scale(.8);
  }
  .card-content p{
    font-size: 17px;
  }
  #about-me{
    display: flex;
    flex-direction: column;
  }
  .card{
    width: 30%;
  }
  .slider{
    display: flex;
    flex-wrap: wrap;
  }
  .slider-image{
    left: 15%;
  }
  .thumbnail-container{
    margin-left: 10px;
  }
  .project-list-main{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .project-list-card{
    position: relative;
    margin-top: 80px;
    margin-left: 340px;
  } 
  #learning-explanation{
    margin-left: 0px;
    font-size: 20px;
    justify-content: center;
    display: flex;
    font-weight: bold;
  }
  .books-section{
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .book{
    width: 60%;
    margin-top: 30px;
  }
  #learning-section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #cv{
    font-size: 15px;
    height: 46px;
  }
  form{
    margin-left: 100px;
  }
  #madeby{
    margin-left: 50px;
  }
 }
 @media screen and (max-width: 1230px) {
  .canvanav{
    margin-left: -135px;
  }
  .hero-section .android{
    transform:  scale(.3);
    bottom: -266px;
    left: 10%;
  }
  #graphic-design-section{
    
  }
  .thumbnail-container2 {
    position: relative;
    flex-direction: row;
    margin-top: -190px;
    margin-bottom: 100px;
  }
  .thumbnail2 img{
    width: 150px;
  }
  .hero-section .kevinimage{
    position: absolute;
    bottom: -190px;
    transform: scale(.4);

  }
  .welcome-message {
    width: 80%;
  }
  .hero-section{
    display: flex;
    flex-direction: column;
    max-height: 720px;
  }
 }
 @media screen and (max-width: 1075px) {
  .soen{
    transform: scale(.3);
    left: -20px;
  }
  .hero-section{
    margin-top: 170px;
  }
  .canvanav{
    display: none;
  }
  .canvanav ul li i{
    display: none;
  }

#aboutme-icon::after, #designsamples-icon::after,#pricing-icon::after,#contacts-icon::after,#resources::after{
  display: none;
 }
 #aboutme-icon, #designsamples-icon,#pricing-icon,#contacts-icon,#resources{
  display: none;
 }
 .hero-section .windows::after{
  content: 'Menu';
  font-size: 25px;
  color: rgb(0, 0, 0);
  position: relative;
 }
 .windows-facts{
  display: none;
 }
 #aboutme{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .card{
  width: 50%;
 }
 .slider-image{
  left: 10%;
 }
 .slider2{
  left: -10%;
 }
 .thumbnail-container2{
  transform: scale(.7);
 }
}
@media screen and (max-width: 1075px) {
  #madeby{
    font-size: 16px;
    margin-left: 0px;
    width: 100%;
  }
  form{
    transform: scale(.7);
  }
}
@media screen and (max-width: 830px){
  #cv{
    margin-top: 20px;
  }
footer{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}
.madeby-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
#madeby{
  margin-left: 40%;
}
}

@media screen and (max-width: 700px){
  .hero-section .kevinimage{
    transform: scale(0.25);
   bottom: -60px;
   right: -25%;
  }
.welcome-message{
  margin-top: 110px;
  font-size: 20px;
}

.soen{
  left: -40px;
}
.hero-section .android{
  transform: scale(.2);
  left: 35%;
  bottom: -304px;
}
.card{
  width: 80%;
  margin-top: 80px;
}
.php-cert,.web-fundamentals-cert, .sql-cert,.html-cert {
  margin-left: -120px;
  transform: scale(.6);
}
#badge{
  transform: scale(.2);
}
.slider{
  left: -10%;
}
.thumbnail-container{
  transform: scale(0.44);
  margin-top: -28%;
}
.project-list-card{
  transform: scale(0.57);
  margin-top: -40px;
}
.project-list-card:hover{
  transform: scale(.5) rotate(1deg);
}
.design-work-title{
  transform: scale(.4);
}
.design-title{
  margin-top: 0px;
}
.thumbnail-container2{
  transform: scale(0.36);
  margin-left: -10px;
  margin-top: -500px;
  margin-bottom: 0px;
}
#outer-content{
  font-size: 16px;
}
.curious-minds-central{
  transform: scale(.3);
}
#learning-explanation{
  font-size: 15px;
  text-align: center;
}
.book{
  width: 80%;
}
form{
  flex-direction: column;
  margin-left: 0px;
  margin-top: -40px;
}
form p{
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
#cv{
  margin-left: 0px;
  height: 40px;
  margin-bottom: 0px;
}
.madeby-container{
  margin-bottom: 40px;
}
#madeby{
  margin-left: 130px;
}
}
@media screen and (max-width: 500px){
  .welcome-message{
    font-size: 18px;
    margin-left: 20px;
  }
  .hero-section .android{
    left: 24%;
  }
  .thumbnail-container{
    transform: scale(.4);
    margin-top: -250px;
  }
  .hero-section .kevinimage{
    right: -40%;
  }
}
@media screen and (max-width: 400px){
  #aboutme{
    margin-left: 20px;
    margin-top: -70px;
  }
  .about-me-main{
    margin-top: -40px;
  }
  .hero-section .kevinimage{
    left: -70%;
  }
  .php-cert,.web-fundamentals-cert, .sql-cert,.html-cert {    
    transform: scale(.4);
  }
  .card{
    width: 90%;
  }
  .slider{
    left: -20%;
  }
  .project-list-card{
    margin-left: 300px;
  }
  .sliding-web-projects2{
    margin-left: -22px;
  }
  .thumbnail-container2 {
    transform: scale(.2);
    margin-top: -530px;
  }
  .curious-title{
    margin-left: -30px;
    margin-top: -40px;
  }
  #learning-explanation{
    margin-top: -40px;
  }

}


