*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #27282b;
}
.hero-section{
    position: relative;
    width: 86%;
    height: 700px;
    margin-top: 60px;
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 10px;
    display: flex;
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -80px;
    margin-bottom: 100px;
}
.welcome-message{
    width: 40%;margin: 30px;
    font-family: 'Genos', sans-serif;
    font-size: 38px;
    margin-top: 140px;
    margin-left: 80px;
    
}
.android,.iphone,.windows.github.kevinimage,.welcome-message{
    transform: translateZ(40px);
}
.hero-section .kevinimage{
    margin-top: -50px;
    transform: scale(.7);
    position: absolute;
    right: -56px;
}
.hero-section .android{
    transform: scale(.5);
    position: absolute;
    left: 46%;
    bottom: -189px;
}
.hero-section .windows{
    transform: scale(.2);
    position: absolute;
    left: -80px;
    top: -60px;
}
.hero-section .vscode{
    transform: scale(.15);
    position: absolute;
    left: -137px;
    bottom: -120px;
}
.hero-section .github{
    transform: scale(.16);
    position: absolute;
    right: -130px;
    top: -120px;
}
.hero-section .iphone{
    transform: scale(.1);
    position: absolute;
    right: -190px;
    bottom: -214px;
}
.soen{
    transform: scale(.6);
    position: absolute;
    left: 0px;
    top: 50px;
    
}
#back-to-top{
    transform: scale(3);
    position: absolute;
    right: 60px;
    bottom: 60px;
    color: #E0EAFC;
}
.canvanav{
    transform: scale(.7);
    margin-left: 130px;
}
nav{
    position: relative;
}
ul{
    position: absolute;
    display: flex;
    left: 29%;
    top: 40px;
}
ul li{
    list-style: none;
    width: 20px;
    color: #CB6CE6;
    transform: scale(2);
    margin: 10px;
    margin-right: 100px;
    width: auto;
}

ul li a{
    color: #CB6CE6;
}
#aboutme-icon::after{
    content: 'About Me';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}
#designsamples-icon::after{
    content: 'Design Work';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}
#pricing-icon::after{
    content: 'Pricing';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}
#contacts-icon::after{
    content: 'Contact Me';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}
#resources::after{
    content: '  Resources';
    font-size: 10px;
    font-family: 'Genos', sans-serif;
    margin-left: 1px;
}
.windows:hover,
  .github:hover,
  .vscode:hover,
  .iphone:hover {
cursor: pointer;
  }

.windows-facts {
    width: 280px;
    height: 130px;
    background-color: #CB6CE6;
    position: absolute;
    top: 10px;
    left: 90px;
    border-radius: 10px;
    padding: 20px;
    display: none;
    color: aliceblue;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
  }
  
  .vscode-facts{
    width: 280px;
    height: 130px;
    background-color: #CB6CE6;
    position: absolute;
    bottom: 10px;
    left: 90px;
    border-radius: 10px;
    display: none;
    color: aliceblue;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    padding: 20px;
  }
  .github-facts{
    width: 280px;
    height: 80px;
    background-color: #3C6BCA;
    position: absolute;
    top: 10px;
    right: 90px;
    border-radius: 10px;
    display: none;
    color: aliceblue;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
  }
  .apple-facts{
    width: 280px;
    height: 140px;
    background-color: #CB6CE6;
    position: absolute;
    bottom: -70px;
    right: 90px;
    border-radius: 10px;
    display: none;
    color: aliceblue;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    padding: 20px;
  }
  .title-image{
    transform: scale(.6);
    margin-left: 40px;
  }
#aboutme{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
  .card{
    width: 25%;
    height: 450px;
    background-color: #D9E5F8;
    margin-right: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
    font-family: 'Genos', sans-serif;
    font-size: 20px;
    padding: 3px;
    transform-style: preserve-3d;
    transform: perspective(300px);
  }
  .card-title{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #CB6CE6;
    font-weight: bold;
}
.card-content{
    display: flex;
    align-items: center;
    justify-content: center;

}
.content{
    border-radius: 5px;
    margin-top: 10px;
    width: 85%;
    height: 380px;
    color: white;
    background-color: #171418;
    transform: translateZ(60px);    
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3), 0px 5px 20px #CB6CE6;;
  
}
.content p{
    color: white;
    margin: 10px;
    text-align: center;
    font-size: 28px;
}
.content ul{
    position: relative;
}
.content ul li{
    margin-left: -18px;
    margin-right: 84px;
    margin-top: -30px;
    color: #CB6CE6;
}
.content i{
    font-size: 18px;
    position: relative;
    color: #CB6CE6;
}
#laptop-page1::after{
    content: '1';
    font-size: 8px;
    position: absolute;
    margin-left: -13px;
    margin-top: 5px;
}
#laptop-page2::after{
    content: '2';
    font-size: 8px;
    position: absolute;
    margin-left: -13px;
    margin-top: 5px;
}
#laptop-page3::after{
    content: '3';
    font-size: 8px;
    position: absolute;
    margin-left: -13px;
    margin-top: 5px;
}
#laptop-page1,#laptop-page2,#laptop-page3:hover{
    cursor: pointer;
}
#laptop-page1,#laptop-page2,#laptop-page3{
   
}
.skills-page2,.skills-page3{
    display: none;
}
#planguages{
    font-size: 19px;
}
#language-icons img{
    width: 40px;
}
.education-card{
    background: url(images/degree2.png);
    background-position: center;
    background-size: cover;
    filter: blur(px);
    font-size: 30px;
    text-align: center;
    padding: 3px;
}

